a{
	font-style: italic;
	text-decoration: none;
	color: #EF3A3A;
}
a:link{
	color: #B10B0B;
}

.button{
	text-decoration: none;
	font-family: arial;
	padding: 5px 10px;
	margin: 3px;
	border-radius: 3px;
	border: none;
	box-shadow: 0px 0px 2px;
	cursor: pointer;
	font-size: .8em;
}

.button:focus{
	outline: none;
}
.button-active{
	background: #5FBD6E;
	color:#FFFFFF;
}
.button-active:hover{
	background:#169947;
}
.button-failed{
	background: #F51010;
	color:#FFFFFF;
}
.button-failed:hover{
	background:#CA0505;
}